Package: com.axs.simpleswitch
Name: SimpleSwitchPlugin
Version: 1.0.0
Architecture: iphoneos-arm
Description: A simple switch plugin for WeChat.
Section: Tweaks
Maintainer: Axs
Author: Axs
Depends: mobilesubstrate (>= 0.9.5000)
Icon: https://axs66.github.io/repo/icon/wechat.png
SileoDepiction: https://axs66.github.io/repo/sileodepiction/simpleswitch/js.json

